@import "../../scss/variable";

.header {
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid #9dadd0;
  // background-color: #cdf0ea;
  .active {
    background-color: #ebeff6;
    border-radius: 10px;
  }
}
.header .wide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  height: 100%;
}
.logo {
  font-size: 4.4rem;
  color: $primaryColor;
}
.navBar {
  color: $navbarColor;
}
.navBarList {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.navBarItem a {
  font-size: 1.8rem;
  text-decoration: none;
  color: inherit;
  padding: 1.2rem 1.6rem;
}
