table {
  width: 100%;
  border-collapse: separate;
  border: 1px solid #f4f4f4;

  thead th {
    border-bottom: 3px solid #f9f9f9;

    font-size: 1.4rem;
    width: 20%;
    text-align: left;
    padding: 1.2rem 2.4rem;
  }
  th,
  td {
    border-right: 1px solid #f4f4f4;
  }
  td:last-child,
  th:last-child {
    border-right: none;
  }

  tbody td {
    padding: 0.8rem;
    font-size: 1.4rem;
    color: #333;
  }
  tbody tr:nth-child(even) {
    background-color: #f7f7f7;
    border-color: currentColor;
  }
  .actionBox {
    text-align: center;
    a {
      letter-spacing: -0.2px;
      padding: 0.5rem 1rem;
      font-size: 1.4rem;
    }
    a + a {
      margin-left: 1rem;
    }
  }
}
