<app-alert
  [title]="hasError"
  [message]="errorMessage"
  *ngIf="hasError !== null"
></app-alert>
<div class="formWrap">
  <div class="formHeading">
    <a (click)="onNavigate()" class="formBack"
      ><span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="ionicon"
          viewBox="0 0 512 512"
        >
          <title>Return Up Back</title>
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
            d="M112 160l-64 64 64 64"
          />
          <path
            d="M64 224h294c58.76 0 106 49.33 106 108v20"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
          /></svg></span
      >Back to Users</a
    >
    <h1 class="formTitle">
      {{ editMode ? "Update user" : "Create new user" }}
    </h1>
  </div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="formGroup">
      <label for="firstName">First Name</label>
      <input
        type="text"
        id="firstName"
        class="formControl"
        formControlName="firstName"
      />
      <span
        class="helpBlock"
        *ngIf="
          !userForm.get('firstName').valid && userForm.get('firstName').touched
        "
      >
        <span *ngIf="userForm.get('firstName').errors['required']"
          >Please enter your first name</span
        >
      </span>
    </div>
    <div class="formGroup">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        id="lastName"
        class="formControl"
        formControlName="lastName"
      />
      <span
        class="helpBlock"
        *ngIf="
          !userForm.get('lastName').valid && userForm.get('lastName').touched
        "
      >
        <span *ngIf="userForm.get('lastName').errors['required']"
          >Please enter your last name</span
        >
      </span>
    </div>
    <div class="formGroup">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        class="formControl"
        formControlName="email"
      />
      <span
        class="helpBlock"
        *ngIf="!userForm.get('email').valid && userForm.get('email').touched"
      >
        <span *ngIf="userForm.get('email').errors['emailIsForbbiden']"
          >This email is invalid</span
        >
        <span *ngIf="userForm.get('email').errors['required']"
          >Please enter your email</span
        >
      </span>
    </div>
    <div class="formGroup">
      <label for="phone">Phone</label>
      <input
        type="text"
        id="phone"
        class="formControl"
        formControlName="phone"
      />
      <span
        class="helpBlock"
        *ngIf="!userForm.get('phone').valid && userForm.get('phone').touched"
      >
        <span *ngIf="userForm.get('phone').errors['required']"
          >Please enter your phone</span
        >
      </span>
    </div>

    <div class="formGroup">
      <label for="DOB">Date of Birth</label>
      <input type="date" id="DOB" class="formControl" formControlName="DOB" />
    </div>

    <div class="formGroup flexRadioGroup">
      <label class="radioGroup">
        <span>Activated</span>
        <input
          type="radio"
          class="formControl"
          formControlName="status"
          [value]="true"
        />
      </label>
      <label class="radioGroup">
        <span>Suspended</span>
        <input
          type="radio"
          class="formControl"
          formControlName="status"
          [value]="false"
        />
      </label>
    </div>

    <div class="socialLinks" formArrayName="socialLinks">
      <div class="label">
        Social Links<span class="icon" (click)="onAddSocialLink()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <title>Add Circle</title>
            <path
              d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z"
              fill="none"
              stroke="currentColor"
              stroke-miterlimit="10"
              stroke-width="32"
            />
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
              d="M256 176v160M336 256H176"
            />
          </svg>
        </span>
      </div>
      <aside>Accept only Facebook, Twitter and LinkedIn</aside>
      <div
        class="socialLink"
        *ngFor="let socialLink of getControls('socialLinks'); let i = index"
      >
        <div class="linkArea">
          <div class="formGroup">
            <label for="link">Link</label>
            <input
              id="link"
              type="text"
              class="formControl"
              [formControlName]="i"
            />
            <span
              *ngIf="
                !getControls('socialLinks')[i].valid &&
                getControls('socialLinks')[i].touched
              "
              class="helpBlock"
            >
              <span
                *ngIf="
                  getControls('socialLinks')[i]?.errors['socialLinksValid']
                "
                >Social link is invalid !</span
              >
              <span *ngIf="getControls('socialLinks')[i]?.errors['required']"
                >Please enter your social link</span
              >
            </span>
          </div>
        </div>
        <div class="deleteSocialLink">
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDeletingSocialLink(i)"
          >
            X
          </button>
        </div>
      </div>
    </div>
    <hr />

    <div class="formBottom">
      <button type="button" class="btn btn-danger" (click)="onNavigate()">
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!userForm.valid"
      >
        {{ editMode ? "Update" : "Create" }}
      </button>
    </div>
  </form>

  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</div>
