@import "../../../scss/mixin";
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  .model {
    max-width: 40rem;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    padding: 2.4rem 3.2rem;
    background-color: white;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    .title {
      font-size: 3.4rem;
      line-height: 1;
    }
    .message {
      font-size: 1.8rem;
      color: red;
      margin-top: 1rem;
      margin-bottom: 3rem;
    }
  }
}

.hide {
  display: none;
}
@include maxWidth(34.5em) {
  .overlay {
    .model {
      max-width: 30rem;
      padding: 2rem 3rem;
      .btn {
        padding: 1.2rem 3.6rem;
      }
    }
  }
}
